<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style1.css">
</head>
<body>
    <nav>
       <ul>
        <li>Gova.com</li>
       </ul>
    </nav>
    <div class="body">
    <div class="container">
            <% for (var i = 0; i < headings.length; i++) { %>
                <div class="box">
                    <form action="/contant" method="post">
                        <button class="buttons" type="submit" name="filename" value="<%= headings[i] %>">
                            <%= headings[i].split('.')[0] %>
                        </button>
                    </form>
                </div>
            <% } %>
    </div>
    <div class="bottom">
        <form action="/creat" method="post">
            <button class="creat" type="submit">Add New</button>
        </form>
    </div>
</div>
</body>

</html>